// Colours

$portfolio-black: #16161d;
$portfolio-white: #fff;
$portfolio-rich-black: #131827;
$portfoilio-oxford-blue: #1b263b;
$portfolio-ylnmn-blue: #415a77;
$portfolio-silver-lake-blue: #778da9;
$portfolio-platinum: #e0e1dd;
$portfolio-cyan: #00fffb;