// Fonts

// Lato
@font-face {
    font-family: 'lato';
    src:
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'lato';
    src:
    url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('../fonts/Lato-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'lato';
    src:
    url('../fonts/Lato-Italic.woff2') format('woff2'),
    url('../fonts/Lato-Italic.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'lato';
    src:
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}