{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ]
}

// If error

{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ]
}