// Button

.button {
    color: $portfolio-platinum;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid $portfolio-platinum;
    display: flex;
    justify-content: center;
    width: 100%;
    background: none;

    svg {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }

    &:hover {
        border: 2px solid $portfolio-cyan;
        color: $portfolio-cyan;

        svg {
            fill: $portfolio-cyan !important;
        }
    }
}