// Panels

.custom-panel {
    /* border: 1px solid $portfolio-black; */
    box-shadow: 11px 13px 24px -3px rgba(0,0,0,0.62);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background-color: rgb(41 52 72);
}