// Layout

.wrapper {
    @include lato;
    position: relative;

    #sidebar {
        @include media-breakpoint-up(lg) {
            height: 100vh;
            top: 0;
            position: sticky;
            z-index: 10;
        }
        background-color: $portfolio-rich-black;
        
        .navbar {
    
            .navbar-brand {
                color: $portfolio-white;
            }
    
            .navbar-nav {
                flex-direction: column;
                .nav-item {
                    .nav-link {
                        margin: 0.75rem 0;
                        color: $portfolio-white;
                        position: relative;

                        &::before {
                            opacity: 0;
                            transform: translate(0, -50%);
                            width: 0;
                            height: 0;
                            border: 5px solid transparent;
                            border-left-color: $portfolio-white;
                        }

                        &::after {
                            opacity: 0;
                            pointer-events: none;
                            transition: all 0.18s ease-out 0.18s;
                            text-indent: 0;
                            background: $portfolio-rich-black;
                            border-radius: 2px;
                            color: $portfolio-white !important;
                            content: attr(aria-label);
                            padding: 0.5em 1em;
                            position: absolute;
                            z-index: 10;
                            position: absolute;
                            top: 2px;
                            left: 80px;
                            color: black;
                            background-color: $portfolio-rich-black;
                        }

                        &:hover {
                            &::before {
                                opacity: 1;
                            }

                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    #content {
        
    }

    #footer {
        
    }
}